<h1>Welcome back, <%= current_user.username %>
<br>
<span class="badge badge-secondary">Thanks!</span>
  <%# <%= @user.username %>
<br>
<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar, style: 'width: 500px;' %>
<% end %>
<br>
  <%= link_to 'Edit Profile', edit_user_path(@user) %>
<br>
  <%= link_to "#{@user.followings.count} Followings", followings_user_path(@user) %>
  <%= link_to "#{@user.followers.count} Followers", followers_user_path(@user) %>

  <% if current_user != @user %>

  <% if current_user.followings.include?(@user) %>

    <%= form_for @find_relationship, html: {method: :delete} do |f| %>
      <%= f.submit 'Unfollow' %>
    <% end %>

      <% else %>

    <%= form_for Relationship.new do |f| %>
      <%= hidden_field_tag :following_id, @user.id %>
      <%= f.submit 'Follow' %>
    <% end %>

  <% end %>
<% end %>

<h2>Timeline</h2>

  <% if current_user == @user %>
<%= form_for Post.new do |f| %>
  <%= f.file_field :post_photo %>
  <%= f.text_field :caption, placeholder:'Caption' %>
  <%= f.submit 'Post' %>
<% end %>
<% end %>

<% @user.posts.each do |post| %>
  <%= image_tag post.post_photo, style: "width: 800px; display: block;" %>
  <%= post.caption %>

  <%= form_for ([post, @comment]) do |f| %>
  <%= hidden_field_tag "user_id", @user.id %>
    <%= f.text_field :content %>
    <%= f.submit 'Comment'%>
  <% end %>

  <% post.comments.each do |comment| %>
    <%= comment.user.username %>
    <%= comment.content %>
    <br>
  <% end %>
<br>


  <%= link_to 'Show', post_path(post) %>

  <% if current_user == @user %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
<% end %>

<% end %>
