<h1>Edit your posts, <%= @user.username %></h1>

<%= form_for @post do |f| %>
<%= f.file_field :post_photo %>
<%= f.text_field :caption, placeholder:'Caption' %>
<%= f.submit 'Post' %>
<% end %>

<%= image_tag @post.post_photo, style: "width: 800px; display: block;" %>
<%= @post.caption %>
