<!DOCTYPE html>
<html>
  <head>
    <title>Instagram Clone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation Bar-->
      <nav class="navbar navbar-light bg-light d-flex">
        <div class="container">
          <div class="logo">
            <%= link_to current_user, class: 'navbar-brand' do %> 
              <%= image_tag 'text 1.png', width: 100 %>
            <% end %>
          </div>
        </div>
      </nav>
    <%= render 'shared/header' %>
    <%= yield %>
  </body>
</html>
